body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
  color: blue;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 350px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.clock {
  font-size: 48px;
  margin: 20px 0;
}

.alarm-settings {
  margin-top: 20px;
}

input[type="time"] {
  padding: 5px;
  font-size: 16px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
}

button:hover {
  background-color:green;
}

#status {
  margin-top: 15px;
  font-weight: bold;
}
